.App {
  text-align: center;
	background: pink;
}

#root {
	background: #F0F5F6;
	width: 100vw;
	height: 100vh;
}

.rw-main.type-today {
	border-radius: 0px;
}

.react-grid-layout {
  transition: height 200ms ease;
}
.react-grid-item {
	text-align: center;
	background: #8FA3B2;
  transition: all 200ms ease;
  transition-property: left, top;
}

.klokje {
	font-family: Ubuntu;
	font-size: 35px;
	color: rgb(0, 0, 0, 70%);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text {
	float: left;
}

.widgetselecter {
	background-color: #0F1321;
	padding-top: 10px;
	padding-left: 10px;
	height: 50px;
}

.dropdown {
	width: 150px;
	display: inline-block;
}

.Select-control {
	border-radius: 0px !important;
	border: none !important;
	background-color: #F0F5F6 !important;
}

.addButton {
	border-radius: 0px;
	border: none;
	background-color: #F0F5F6;
	margin-left: 16px;
	position: absolute;
	top: 10px;
	height: 36px;
}

.addButton:hover {
	background-color: #E1E4E5;
	transition: 1s;
}

.reset {
	border-radius: 0px;
	border: none;
	background-color: #F0F5F6;
	margin-left: 110px;
	position: absolute;
	top: 10px;
	height: 36px;
}

.reset:hover {
	background-color: #E1E4E5;
	transition: 1s;
}

.title {
	font-family: Ubuntu;
  float: right;
	font-size: 30px;
	color: white;
	margin-right: 10px;
}

.photo {
	background: url('https://fontys.nl/upload_mm/e/1/6/115115_fullimage_fon525_00.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: 999;
}
